VITE_API_BASE_URL=http://localhost:8000
VITE_DEFAULT_JURISDICTION_CITY="ZAMBOANGA CITY"
VITE_DEFAULT_JURISDICTION_REGION="Zamboanga Peninsula"
VITE_DEFAULT_MAP_LATITUDE=6.9214
VITE_DEFAULT_MAP_LONGITUDE=122.0790
VITE_DEFAULT_MAP_ZOOM=12.5
